/* tag overrides */
body {
  font-family:"Roboto", sans-serif;
  color:#252525;
}

/* reusables */
.hide {
  display: none;
}

.unstyle-list {
  list-style:none;
  margin:0;
  padding:0;
}
.unstyle-list li {
  display: inline-block;
  vertical-align: middle;
}

li .left-side, li .right-side {
  width:46%;
  vertical-align: middle;
}
li .left-side {
  float: left;
}
li .right-side {
  float: right;
}

.iframe-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:35px;
  height:0;
  overflow:hidden;
}
.iframe-container iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


/* styles */
.nav-bar {
  padding:10px 0;
  background:black;
}
nav {
  color:white;
}
.nav {
  padding-bottom:10px;
}
.nav li {
  width:100%;
  padding:10px 20px;
}
.nav li a {
  display: block;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
  border-bottom: dotted 1px #999;
}
.nav li a:hover {
  color:#ccc;
}

.header {
  background:#00b9d7;
}

.video-player {
  margin-bottom:30px;
}
.video-list {
  display: inline-block;
  padding:10px 0;
}
.video-list li {
  min-height:100px;
}
.video-list li .description {
  font-size:14px;
}
.video-list li .source {
  clear: both;
  margin-bottom: 25px;
}

.area-reports .date {
  font-weight: bold;
}
.area-reports .reporter {
  margin:10px 0 25px 0;
  text-align: right;
  font-style: italic;
}

.help-info {
  margin-top:90px;
}
.help-info .row {
  padding:0;
}
.help-block {
  margin-top:35px;
}
.help-block .name {
  margin-bottom:10px;
  font-weight: bold;
}
.help-block .address {
  margin-bottom:10px;
}
.help-block .email {
  margin-bottom:10px;
}
.help-block .message {
  margin-bottom:35px;
}
.help-block .logo {
  margin:35px 0;
  padding-bottom: 25px;
  text-align:center;
  border-bottom:dotted 1px #ccc;
}
.help-block a:last-child .logo {
  border:none;
}

.affected-areas {
  margin-bottom: 35px;
}
.affected-areas h2 span {
  display: inline-block;
  font-size: 14px;
}

.map-container, #map {
  width:100%;
  height:300px;
  margin-bottom:15px;
}
.map-legend li {
  padding-right:15px;
  font-size:12px;
}
.legend-color-box {
  width:100%;
  height:30px;
}
.danger-zone {
  background:red;
}
.power-outage {
  background:orange;
}

.social-media-posts li {
  width:100%;
  padding:15px;
}
.social-media-posts li:nth-child(odd) {
  background: #ccc;
}
.social-media-posts li:nth-child(even) {
  background: #999;
}

footer {
  padding:15px;
  text-align: center;
  font-size: 12px;
  color:white;
  background:black;
}
footer a {
  color:white;
}

/* landscape small phone */
@media only screen and (min-width: 560px) {

  .nav li {
    display: inline-block;
    width: 255px;
  }

  .help-info {
    padding-bottom: 15px;
  }
  .help-info .col-6 {
    width:50%;
  }

  .affected-areas h2 span {
    float: right;
    margin-top: 10px;
  }

}

/* landscape larger phones */
@media only screen and (min-width:640px) {

  .nav li {
    width: 295px;
  }

  .map-legend .left-side {
    width:20%;
  }
  .map-legend .right-side {
    width:75%;
  }
  .map-legend li {
    width:200px;
  }

}

/* tablets */
@media only screen and (min-width:768px) {

  .header .col-6 {
    width:50%;
  }

  .nav-bar {
    width:100%;
    padding: 5px 0 0 0;
  }
  .nav li {
    width: initial;
    font-size: 14px;
  }
  .nav li a {
    border:none;
  }

}

/* landscape tablets */
@media only screen and (min-width:1024px) {

  .header {
    padding-top:30px;
  }

  .map-legend {
    margin-top: 10px;
  }
  .map-legend .left-side {
    width:10%;
  }
  .map-legend .right-side {
    width:85%;
  }

  .help-info {
    margin-top:70px;
  }

  .nav li:first-child {
    padding-left:0;
  }

  .help-block .logo {
    padding:0 45px;
  }

  footer {
    margin-top: 25px;
  }

}

/* desktops */
@media only screen and (min-width:1280px) {

  .row {max-width:1280px;}

}
