.youtube-header {
  color:#ff0000;
}
.facebook-header {
  color:#4267B2;
}
.twitter-header {
  color:#1DA1F2;
}
.social-media-posts li {
  width:100%;
  padding:15px 0 25px 0;
  border-bottom:dotted 1px #ebebeb;
}
.social-media-posts li:first-child {
  padding-top:0;
}
.social-media-posts li:first-child .post-story {
  margin-top:0;
}
.social-media-posts li a {
  text-decoration: none;
  color:#252525;
}
.social-media-posts .post-story {
  margin:10px 0;
  font-weight:bold;
}
.social-media-posts .post-name {
  margin-bottom:15px;
  clear:both;
}
.social-media-posts .post-message {
  margin-bottom:10px;
  font-style:italic;
}
.social-media-posts .post-picture {
  float:left;
  width:38%;
  height:85px;
  overflow: hidden;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.social-media-posts .post-description {
  float:right;
  width:58%;
  font-size:12px;
}
.social-media-posts li img {
  width:100%;
}

.social-media-feed::-webkit-scrollbar {
  width:6px;
}
.social-media-feed::-webkit-scrollbar-track {
  background:#ebebeb;
}
.social-media-feed::-webkit-scrollbar-thumb {
  background-color:darkgrey;
  outline:1px solid slategrey;
}

@media only screen and (min-width:768px) {

  .social-media-feed {
    display:none;
    overflow-y:scroll;
    overflow-x:hidden;
    height:625px;
    padding-right:25px;
  }

}
