.area-reports {
  margin-bottom:25px;
  background:#dadada;
}

.area-reports a {
  color:black;
}

.area-report-container, .area-report-container-1, .area-report-container-2, .area-report-container-3 {
  display:inline-block;
  width:100%;
  margin:25px 0;
  padding:0 15px;
}
.area-report-container .date, .area-report-container-1 .date, .area-report-container-2 .date, .area-report-container-3 .date {
  margin-bottom:5px;
  font-weight:bold;
  font-size:12px;
}
.area-report-container .reporter, .area-report-container-1 .reporter, .area-report-container-2 .reporter, .area-report-container-3 .reporter {
  margin:10px 0 0 0;
  font-weight: bold;
}
.area-report-container .location, .area-report-container-1 .location, .area-report-container-2 .location, .area-report-container-3 .location {
  font-size:12px;
}

.area-report-container-1, .area-report-container-2, .area-report-container-3 {
  width:100%;
}
.area-report-container-1 .report {
  height:initial;
  overflow:hidden;
}

.areaReportErrorMsg {
  padding:5px;
}
.areaReportErrorMsg li {
  display: block;
  padding: 5px 8px;
}

@media only screen and (min-width:768px) {

  .area-report-container {
    width:24%;
  }
  .area-report-container .report {
    height:255px;
  }

  .area-report-container-2 {
    width:49%;
  }
  .area-report-container-2 .report {
    height:70px;
  }

  .area-report-container-3 {
    width:32%;
  }
  .area-report-container-3 .report {
    height:110px;
  }

}

@media only screen and (min-width:992px) {

  .area-report-container .report {
    height:150px;
  }

}
