.header {
  height:0;
  color:white;
  background:black;

  h1 {
    position:absolute;
    top:-2px;
    left:12px;
    font-size:14px;
  }
}

.darkSelectMenu {
  padding-right:35px;
  color:white;
  background:black;
  border:none;
  -webkit-appearance:none;
}
#selectDownArrow {
  margin-left:-30px;
}

@-webkit-keyframes fadeIt {
  0%   {color:#000; background-color:#fff;}
  50%  {color:#7f7f7f; background-color:#7f7f7f;}
  100% {color:#fff; background-color:#000;}
}
@-moz-keyframes fadeIt {
  0%   {color:#000; background-color:#fff;}
  50%  {color:#7f7f7f; color:#7f7f7f; background-color:#7f7f7f;}
  100% {color:#fff; background-color:#000;}
}
@-o-keyframes fadeIt {
  0%   {color:#000; background-color:#fff;}
  50%  {color:#7f7f7f; background-color:#7f7f7f;}
  100% {color:#fff; background-color:#000;}
}
@keyframes fadeIt {
  0%   {color:#000; background-color:#fff;}
  50%  {color:#7f7f7f; background-color:#7f7f7f;}
  100% {color:#fff; background-color:#000;}
}
.bgAnimated {
  background-image:none !important;
  -webkit-animation:fadeIt 5s ease-in-out;
  -moz-animation:fadeIt 5s ease-in-out;
  -o-animation:fadeIt 5s ease-in-out;
  animation:fadeIt 5s ease-in-out;
}

/* tablets */
@media only screen and (min-width:768px) {

  .header {
    height:initial;

    h1 {
      position:absolute;
      top:-10px;
      font-size:20px;
    }
  }

}

/* desktops */
@media only screen and (min-width:1024px) {

  .header h1 {
    top:-9px;
    font-size:28px;

    span {
      font-size:28px;
    }
  }

}
